[
 {:xt/id "lifeline"
  :xt/spec :beherbergung.model.ngo/record
  :name "Mission Lifeline"
  :beherbergung.model.login/login:ids ["login_crewing"]}
 {:xt/id "warhelp"
  :xt/spec :beherbergung.model.ngo/record
  :name "Warhelp.eu"
  :beherbergung.model.login/login:ids ["login_max_mueller"]}

 {:xt/id "login_max_mueller"
  :xt/spec :beherbergung.model.login/record
  :mail "max.mueller@warhelp.eu"
  :password-hash "100$12$argon2id$v13$J3eX4KBaovul7h3vD5YZCw$AMeVeAUaiZo4/o9m2+k8v/jt7F3/7+wyhuyi0tPmK2Y$$$" #_"18;%+ZW^|tST_lJ(k9P[" }

 {:xt/id "login_crewing"
  :xt/spec :beherbergung.model.login/record
  :mail "crewing@example-ngo.com"
  :password-hash "100$12$argon2id$v13$lWXab18B+9b79jAk7noAwg$01ak9vbuyxhuKDvBnWV8wuwxIJ5GR6zjz/lJhdw1s+I$$$" #_"Vr(+cFtUG=rsj2:/]*uR" }
]
