{
 :frontend-base-url "http://localhost:4000"
 :frontend-backend-base-url "http://localhost:4000"

 :port 4000

 :jwt-secret nil

 :verbose false

 :validate-output true

 :db-inmemory false
 :db-dir "./data/xtdb/rocksdb"
 :db-seed nil #_"./src/beherbergung/db/seed/test.edn"
 :db-export-prefix "./data/export/"
 :db-validate true

 :import-public true
 :import-ngo "warhelp"
 :import-file nil #_"./data/sample-data/example.edn"
 :import-limit nil

 ;:mail-host ""
 ;:mail-user ""
 ;:mail-pass ""
 ;:mail-port 587
 ;:mail-from nil

 :admin-passphrase nil
 :admin-gpg-id "9EA68B7F21204979645182E4287B083353C3241C"
}
