{:verbose false

 :port 4000

 :validate-output true

 :db-inmemory false
 :db-dir "./data/xtdb/rocksdb"
 :db-seed ""
 :db-export-prefix "./data/export/"
 :db-validate true

 ;:mail-host ""
 ;:mail-user ""
 ;:mail-pass ""
 ;:mail-port 587
 ;:mail-from nil

 :admin-passphrase nil
 :admin-gpg-id "9EA68B7F21204979645182E4287B083353C3241C"

 :frontend-base-url "http://localhost:4000"
 :frontend-backend-base-url "http://localhost:4000"
}
